.root {
  padding-top: calc(var(--nav-height) + var(--spacing-normal));
  padding-bottom: var(--spacing-large);
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
}

.content {
  max-width: var(--maxWidth);
  padding: 0 var(--spacing-normal);
  margin: 0 auto;
}
