.root {
  padding-bottom: var(--spacing-large);
  margin: 0 auto;
}

.header {
  margin-bottom: var(--spacing-large);

  color: red;
}

.content {
  max-width: var(--maxWidth);
  padding: 0 var(--spacing-normal);
  margin: 0 auto;
}
