.root {
  display: flex;
  align-items: center;
  width: 50px;
  padding-left: calc(var(--spacing-small) + 10px);

  background: transparent;
  border: 0;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 36px;
}
