.root {
}

.link {
  margin-bottom: var(--spacing-normal);

  color: var(--color-white);

  text-decoration: none;
}

:global {
  .bm-burger-button {
    position: absolute;
    top: var(--spacing-small);
    right: var(--spacing-small);

    width: 32px;
    height: 24px;
  }

  .bm-burger-bars {
    height: 2px !important;

    background: var(--color-black);
  }

  .bm-cross-button {
    top: var(--spacing-small) !important;
    right: var(--spacing-small) !important;

    width: 30px !important;
    height: 30px !important;

    > span {
      top: 50% !important;
      right: auto !important;
    }
  }

  .bm-cross {
    width: 30px !important;
    height: 2px !important;

    background: var(--color-white);
  }

  .bm-menu-wrap {
    top: 0px;
  }

  .bm-menu {
    padding: 2.5em 1.5em 0;

    background: var(--color-black);

    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: var(--color-black);
  }

  .bm-item-list {
    padding: 0.8em;

    color: var(--color-white);
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
