.root {
  position: relative;
}

.link {
  margin-bottom: var(--spacing-normal);

  color: var(--color-white);

  text-decoration: none;
}

:global {
  .bm-burger-button {
    position: absolute;
    top: 50%;
    left: var(--spacing-normal);

    width: 36px;
    height: 28px;

    transform: translateY(-50%);
  }

  .bm-burger-bars {
    height: 2px !important;

    background: var(--color-black);
  }

  .bm-cross-button {
    top: var(--spacing-small) !important;
    left: var(--spacing-small) !important;

    width: 30px !important;
    height: 30px !important;

    > span {
      top: 50% !important;
      right: auto !important;
    }
  }

  .bm-cross {
    width: 30px !important;
    height: 2px !important;

    background: var(--color-white);
  }

  .bm-menu-wrap {
    top: 0;
  }

  .bm-menu {
    padding: 80px 0 0;

    background: var(--color-black);

    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: var(--color-black);
  }

  .bm-item-list {
    padding: 0.8em;

    color: var(--color-white);
  }

  .bm-overlay {
    top: 0;

    background: rgba(0, 0, 0, 0.3);
  }
}
