.root {
  --text-color: var(--color-gray);
  --background-color: var(--color-darkBlue);
  height: 100%;
  padding: var(--spacing-normal) 0;

  background-color: var(--background-color);
}

.name {
  display: block;
  width: 100%;
  padding: 0 var(--spacing-normal);
  margin-bottom: 40vh;

  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
}
