.root {
  --text-color: var(--color-gray);
  --background-color: var(--color-darkBlue);

  align-items: center;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-large) 0;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
  max-height: 750px;
}

.title {
  text-align: center;
  padding: 0 var(--spacing-normal);
}

.chapterName {
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-large);
  padding: 0 var(--spacing-normal);
  width: 100%;
}

.link {
  color: var(--text-color);
  font-size: var(--fontSize-normal);
  text-decoration: none;
  text-transform: uppercase;
}
