.root {
  --icon-width: 40px;
  --icon-height: 30px;

  display: flex;
  justify-content: space-between;
  height: var(--nav-height);

  background: rgba(255, 255, 255, 0.8);
}

.left {
  display: flex;
  align-items: center;
}

.right {
}
