.root {
}

.content {
  width: 100%;
  max-width: 600px;
  padding: var(--spacing-large) var(--spacing-normal);
  margin: 0 auto;
}

.header {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-normal);
}

.p {
  margin-top: var(--spacing-normal);

  > a {
    color: inherit;
  }
}
